.App {
  text-align: center;
}
.formInpt {
    margin: 100px;
}


/* .rowperpage {

} */
/* .pagination{
  margin-left: 10px;
}
.perpageselect{
  margin-left: 60px; */
/* }
.btnperpage{
  margin-left: 280px;
 
} */ 
/* .dashadd {
  margin-bottom: 1rem;
} */