.App {
  text-align: center;
  margin-left: 25px;
  width: 80vw;
  height: 100vh;
}
.das {
  position: absolute;
}
.dasbtn {
  text-align: center;
}
/* .rowperpage {

} */
.pagination{
  margin-left: 10px;
}
.perpageselect{
  margin-left: 60px;
}
.btnperpage{
  margin-left: 280px;
 
}
.dashadd {
  margin-bottom: 1rem;
}

