.App {
  text-align: center;
  margin-left: 25px;
  width: 80vw;
  height: 150vh;
}
.das {
  position: absolute;
  height: 100px;
}
.dasbtn {
  text-align: center;
}
.rowperpage {
  margin-top: 20px;
  background-color: white;
  height: 70px;
  width: 800px;
  border-radius: 15px;
}
.pagination{
  margin-left: 10px;
}
.perpageselect{
  margin-left: 60px;
}
.btnperpage{
  margin-left: 280px;
 
}
.dashadd {
  margin-bottom: 1rem;
}
.col{
  margin-block: 0.5rem;
}
